services:
  caddy:
    image: homelab-core/caddy:latest # built in portainer
    container_name: caddy
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    volumes:
      - /tank/git/homelab-config/caddy:/etc/caddy
      - /tank/services/caddy/data:/data
      - /tank/services/caddy/config:/config
    environment:
      - CLOUDFLARE_API_KEY=${CLOUDFLARE_API_KEY?}

  tsdproxy:
    image: almeidapaulopt/tsdproxy:1
    container_name: tsdproxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - tsdproxy-data:/data
      - /tank/git/homelab-config/tsdproxy:/config
    restart: unless-stopped
    ports:
      - 8081:8080

  gitea:
    image: docker.gitea.com/gitea:1.24.4
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
    restart: unless-stopped
    volumes:
      - /tank/services/gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 222:22

volumes:
  tsdproxy-data:
networks:
  default:
    name: homelab-core
